* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');


html, body {
    height: 100%; /* Garante que o body ocupa 100% da altura da tela */
}

body {
    font-family: "Silkscreen", sans-serif;
    overflow: hidden;
}

.game-board {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(hsl(218, 64%, 58%), #6aa9c2);
}

.score {
    position: absolute; 
    padding: 15px;
    color: #333;
    font-size: 24px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    font-family: "Silkscreen", sans-serif;
}


.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.25s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 400ms ease-out;
}

.grama{
    position: absolute;
    bottom: 0%;
    height: 75px;
}
.grama-right{
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 75px;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 25s infinite linear;
}

.game-menu {
    width: 350px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222; 
    padding: 40px;
    text-align: center;
    display: none;
}

.game-menu h2 {
    margin-bottom: 10px;
    font-size: 50px;
}

.game-menu button {
    font-family: "Silkscreen", sans-serif;
    font-size: medium;
    cursor: pointer;
    padding: 5px;
    background-color: #222;
    border: none;
    margin-top: 40px;
    color: white;
    border-radius: 20px;
}

.game-menu button:hover {
    color: darkgoldenrod;
}


@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to{
        right: 100%;
    }
}